<p id="notice"><%= notice %></p>
<h1>Detalle del Registro</h1>
<p>
  <b>Local:</b>
  <%= @estacionamiento.local %>
</p>

<p>
  <b>Direccion:</b>
  <%= @estacionamiento.direccion %>
</p>

<p>
  <b>Capacidad:</b>
  <%= @estacionamiento.capacidad %>
</p>

<p>
  <b>Disponible:</b>
  <%= @estacionamiento.disponible %>
</p>

<p>
  <b>Mensaje:</b>
  <%= @estacionamiento.mensaje %>
</p>


<%= link_to 'Editar', edit_estacionamiento_path(@estacionamiento) %> |
<%= link_to 'Volver', estacionamientos_path %>
